@import'reset';
li{
	list-style:none;
}
.li-logo{
    display: block;
    float: left;
    width: 124px;
    height: 48px;
    overflow: hidden;
    text-indent: -999em;
    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/logo-fa8e729626160b3f139584380142d0e0.png);
    background-size: 100% 100%;
    margin-top: 16px;
}
.head-container{
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 100;
    background-color: #2d3a40;
    .header{
    	width: 1220px;
	    height: 80px;
	    margin: 0 auto;
	    line-height: 80px;
	    padding: 0 20px 0 20px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    .nav-pc{
	    	float: left;
    		text-align: center;
    		li{
    			float: left;
			    font-size: 20px;
			    color: #fff;
			    margin-left: 60px;
			    cursor: pointer;
			    a{
			    	color:#fff;
			    	text-decoration:none;
			    }
			    .subitem:after{
			    	content: '';
			    	width: 0;
			    	height: 0;
			    	border-left:7px solid transparent;
			    	border-right:7px solid transparent;
			    	border-bottom: 7px solid #fff;
			    	position: fixed;
			    	top:63px;
			    	margin-left: -7px;
			    }
			    .subitem{
				    position: fixed;
				    display: none;
				    width: 120px;
				    height: 100px;
				    margin-left: -45px;
				    z-index: 99;
				    // left: 0;
				    top: 70px;
				    line-height: 20px;
				    background-color: white;
				    color: #333;
				    padding-left: 5px;
				    padding-right: 5px;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    div{
			    	    height: 50px;
					    line-height: 50px;
					    font-size: 14px;
					    a{
					    	color:#333;
					    }
				    }
				    div:first-child{
				    	border-bottom: 1px solid #ccc;
				    }
			    }
    		}
	    }
	    .search-outter{
	    	position: relative;
		    width: 320px;
		    height: 120px;
		    float: left;
		    margin-left: 130px;
		    .search{
		    	position: relative;
			    width: 320px;
			    height: 60px;
			    display: inline-block;
			    .input-txt{
					width: 320px;
				    height: 48px;
				    border: none;
				    background-color: transparent;
				    color: white;
				    padding-left: 20px;
				    padding-right: 60px;
				    border-radius: 4px;
				    line-height: 48px;
				    background-color: rgba(255,255,255,0.1);
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
			    }
			    input::-webkit-input-placeholder{
			   			 color:#c5ccb9;
			   			 font-size: 16px;
				}
			    button{
			    	border: none;
				    cursor: pointer;
				    position: absolute;
				    right: 0;
				    top: -2px;
				    i{
				    	width: 30px;
					    height: 30px;
					    position: absolute;
					    right: 10px;
					    top: 28px;
					    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/icon-3518a8793473b0760bf300374c9eb766.png);
				    }
			    }
		    }
	    }
	    .my-links{
    	    position: relative;
		    float: right;
		    margin-top: 0;
		    li{
		    	float: left;
			    font-size: 20px;
			    color: #fff;
			    a{
		    	    color: #fff;
		    	    text-decoration: none;
			    }
		    }
	    }
    }
}
.lunbo{
	width: 1583px;
	height: 640px;
	margin-top: 80px;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/bg_content_new-779236a4617e4189714bef29f9e88458.jpg)50% 0;
	.lunbo1{
		width: 930px;
		height: 640px;
		margin:0 auto;
		overflow: hidden;
		.lunbo2{
			float:left;
			width: 500px;
			height: 640px;
			background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content1_image1-42ce8d22bdc58d40575c1c1595a54cce.png);
			position: relative;
			.lunbo3{
				width: 232px;
				height: 412px;
				overflow: hidden;
				position: absolute;
				top:117px;
				left:212px;
				ul{
					width: 1624px;
					height: 412px;
					overflow: hidden;
					transition:0.5s;
					position: absolute;
				}
				ul li{
					float:left;
				}
			}
		}
		.NOW{
			float:left;
			margin-top:100px;
			margin-left: 80px;
			a{
			    display: block;
			    width: 220px;
			    height: 72px;
			    margin-top: 35px;
			    cursor: pointer;
			    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content1_btn-621f8180179d63823c7222c9622f071e.png);		
			}
			a:hover{
				background-position: 0 -72px;
			}
			div{
				margin-top: 35px;
   				 color: white;
   				 span{
   				 	height: 24px;
				    font-size: 16px;
				    line-height: 24px;
				    color: #24ab80;
   				 	a{
   				 		width: 24px;
   				 		height: 24px;
   				 		display: inline-block;
   				 		margin-left: 10px;
   				 		margin-top: 0;
   				 		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content1_btn-621f8180179d63823c7222c9622f071e.png);
   				 		background-position: 0 -144px;
   				 	}
   				 	a:hover{
   				 		background-position: 0px -168px;
   				 	}
   				 	a:last-child{
   				 		background-position: -24px -144px;
   				 	}
   				 	a:last-child:hover{
   				 		background-position: -24px -168px;
   				 	}
   				 }
			}
		}	
	}
	
}
.content2{
    width: 1583px;
    height: 288px;
    background: #fdfdfd;
	.content{
	    width: 660px;
		height: 164px;
		margin:32px auto 0;
		border-top:1px solid #ccc;
   		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content2_image-98bcce66e1e682e1716961313fa76043.png)no-repeat;
   		p{
   			
   		}
	}
}
.arrange{
	width: 1583px;
	height: 800px;
	background: #f5f5f5;
	.arrange1{
		width:1200px;
		height: 800px;
		margin:0 auto;
		overflow: hidden;
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content3_bg-6c84668d489d8e631d8e3364c074899a.png);
		.one{
			margin-left: 200px;
			width: 240px;
			height: 340px;
			margin-top: 230px;
			background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content3_word-5186f886b00d084dee61b0159175bf12.png);
		}
		.two{
			background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content3_bg-6c84668d489d8e631d8e3364c074899a.png);
		}
	}
}
.recommend{
	width: 1583px;
	height: 960px;
	background: #f5f5f5;
	.recommend1{
		width: 1200px;
		height: 960px;
		margin:0 auto;
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content4_bg-03f5dd6d115d9e680e89e4fe6304f8c1.jpg);
		.recommend2{
			width: 800px;
			height: 960px;
			float:right;
			margin-right: 200px;
			p{
				width: 274px;
				height: 760px;
				margin-top: 83px;
				float:right;
				background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content4_word-ecdbbaa9bba970e7f0533a96b6b62dce.png)no-repeat;
			}
			p::after{
				content:'';
				clear:both;
				display: block;
			}
		}
		.recommend2::after{
			content:'';
			clear:both;
			display: block;
		}
	}
}
.scenic{
	width: 1583px;
	height: 800px;
	overflow: hidden;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content5_bg-3fad8ec7420ef98e001459a4faf6d823.jpg)center;
	.scenic1{
		width: 800px;
		height: 800px;
		margin:0 auto;
		.scenic2{
			width: 230px;
			height: 390px;
			margin-top:100px;
			background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content5_word-4a1073639fc15c6f89c04ce549471d1b.png);
		}
	}
}
.map{
	width: 1583px;
	height: 1570px;
	padding-top: 100px;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content6_bg-8aa1668f872cbe84db2d3290c8992e00.png);
	.map1{
		width: 860px;
		height: 660px;
		margin:0 auto 110px;
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content6_image1-d0603d5bdf26cc3eafcae10bdf7a61e4.jpg);
		.navigation{
			width: 230px;
			height: 250px;
			float:right;
			margin-top: 200px;
			background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content6_image1_word-97495b0a9459ba4def519a7bacdcee66.png);
		}
	}
	.inventory{
		width: 1000px;
		height: 800px;
		margin:0 auto;
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content6_image2-19031eb0d014d399383e984556cdd54b.jpg);
	}
}
.detailed{
	width: 1583px;
	height: 990px;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content7_bg-bfd52b82612db1009a035e3a5f3f5458.jpg);
	.detailed1{
		width: 490px;
		height: 200px;
		margin: 0 auto;
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content6_image2_word-0c58f68e250bdebbe55d646080ff4a96.png);
	}
	.detailed2{
		width: 770px;
		height: 414px;
		margin:100px auto 0;
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content7_image-0d3b51c2e7156f0342c2716bb3fc7ce9.png);
	}
	p{
		background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content1_btn-621f8180179d63823c7222c9622f071e.png);
		width: 220px;
		height: 72px;
		margin:100px auto 0;

	}
	p:hover{
		background-position: 0 -72px;
	}
}
.footer{
    width: 1583px;
    height: 240px;
    background-color: #2d3a40;
    .content{
    	width: 1220px;
	    height: 240px;
	    margin: 0 auto;
	    .pc .left{
			height: 240px;
		    margin-left: 20px;
		    padding-top: 40px;
		    width: 660px;
		    position: relative;
		    float: left;
		    box-sizing: border-box;
		    .logo{
	    	    width: 124px;
			    height: 48px;
			    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/logo-fa8e729626160b3f139584380142d0e0.png);
		    }
		    .ques{
		    	margin-top: 30px;
		    	li{
	    		    float: left;
				    font-size: 16px;
				    color: #8fa9b2;
		    	}
		    }
		    .icp-pc{
		    	font-size: 12px;
			    color: #8fa9b2;
			    width: 100%;
			    display: block;
			    float: left;
			    margin-top: 10px;
		    }
		    .kefu{
		    	width: 236px;
			    height: 30px;
			    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/kefu-cb3e9b2c88de6ce762f57e2120ab87d1.png);
			    position: absolute;
			    right: 0;
			    top: 110px;
		    }
	    }
	    .right{
	    	float: left;
	    	li{
	    		float: left;
			    margin-left: 40px;
			    margin-top: 40px;
			    .mark2{
			    	width: 140px;
			    	height: 140px;
			    	display: block;
			    	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/mark2-5536a807d46eaf88af89bff8502a6706.png);
			    }
			    .mark1{
			    	width: 140px;
			    	height: 140px;
			    	display: block;
			    	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/mark1-3487be04af0e64c69af34830a6f3a9e8.png);
			    }
			    .mark3{
			    	width: 140px;
			    	height: 140px;
			    	display: block;
			    	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/mark3-0af143498f69f750f66ece64eea094c6.png);
			    }
			    p{
		    	    text-align: center;
				    font-size: 16px;
				    color: #5c6c73;
				    margin-top: 10px;
			    }
	    	}
	    }
    }
}
.Stick{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom:50px;
	right:20px;
	display: none;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/btn_top-e361304e25ba86eca6a13a83485ab875.png);
}
.screen{
	background-color: rgba(0, 0, 0,0.5);
    cursor: pointer;
    width: 100%;
    height: 6500px;
    display: none;
    position: absolute;
    top:0;
    left:0;
	.screen1{
		width: 320px;
		height: 370px;
		position: fixed;
		top:50%;
		left:50%;
		margin-left: -160px;
		margin-top: -185px;
		p{
			width: 100%;
			height: 100%;
			background: url(../images/14.png);
			a{
				width: 60px;
				height: 60px;
				display: inline-block;
				cursor: pointer;
				position: absolute;
				top:0;
				right:0;
			}
		}
	}
}
.screen4{
	background-color: rgba(0, 0, 0,0.5);
    cursor: pointer;
    width: 100%;
    height: 6500px;
    display: none;
    position: absolute;
    top:0;
    left:0;
	.screen5{
		width: 480px;
		height: 400px;
		position: absolute;
		top:200px;
		left:551.5px;
		p{
			width: 100%;
			height: 100%;
			background: url(../images/13.png);
			a{
				width: 60px;
				height: 60px;
				display: inline-block;
				cursor: pointer;
				position: absolute;
				top:0;
				right:0;
			}
		}
	}
}
.denglu{
	width: 560px;
	height: 489px;
	padding:0 20px;
	background: rgba(51,204,153,0.9);
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -280px;
	margin-top: -244.5px;
	z-index: 999;
	.zhanghu{
		width: 560px;
		height: 489px;
		h1{
			width: 560px;
			height: 64px;
			line-height: 64px;
			font-size: 24px;
			font-weight: normal;
			color:#fff;
			text-align: center;
			margin-bottom: 20px;
			border-bottom:1px solid rgba(255,255,255,0.6);
			position: relative;
			i{
				width: 16px;
				height: 16px;
				cursor: pointer;
				background: url(http://cfbassets.b0.upaiyun.com/assets/common/icon_login-baa5f16b8c91d25c4635149ffade72aa.png);
				display: inline-block;
				background-position: -2px -64px;
				position: absolute;
				top:24px;
				left:0;
			}
			a{
				position: absolute;
			    top: 0;
			    right: 0;
			    font-size: 16px;
			    color: white;
			    cursor: pointer;
			    text-decoration: none;
			}
		}
		input{
			width: 245px;
		    padding: 15px 35px 15px 0;
		    color: white;
		    border: none;
		    background: none;
		    font-size: 16px;
		    display:block;
		    margin: 0 auto;
		    border-bottom:1px solid rgba(255,255,255,0.6);
		}
		input::-webkit-input-placeholder{
			color:#b3ebd8;
		}
		.jizhu{
			color:#b3ebd8;
			width: 280px;
			height: 60px;
			margin:10px auto 0;
			font-size: 12px;
			overflow: hidden;
			span{
				width: 57px;
				height: 16px;		
				overflow: hidden;		
				input{
					width: 16px;
					float:left;
					display: inline;
				}
			}
			a{
				float: right;
			}
			p{
				margin: 10px;
			    text-align: center;
			    color: red;
			    display: none;
			}
		}
		button{
			color:#3c9;
			display: block;
			width: 278px;
			height: 46px;
			cursor: pointer;
			border-radius: 4px;
			border:none;
			background: #fff;
			margin:0 auto 60px;
			font-size: 16px;
		}
		.mode::after{
			content: '';
			clear:both;
			display: block; 
		}
		.mode{
			.wire{
				width: 200px;
				height: 1px;
				float:left;
				background: #fff;
			}
			.wire:last-child{
				float:right;
			}
			.else{
				font-size: 16px;
				color:#fff;
				margin-left:230px;
				line-height: 1px;
			}
		}
		.qita{
			height: 110px;
			text-align: center;
			a{
				display: inline-block;
				width: 64px;
				height: 64px;
				margin-top: 35px;
				border-radius:50%;
				border:1px solid #fff;
				margin-left: 40px;
				i{
					width: 32px;
					height: 30px;
					display:block;
					margin:17px auto;
					background: url(http://cfbassets.b0.upaiyun.com/assets/common/icon_login-baa5f16b8c91d25c4635149ffade72aa.png);
				}
			}
			.One i{
				background-position: -2px -2px;
			}
			.One:hover{
				background: #fff;
				i{
				background-position: -2px -34px;
				}
			}
			.Two i{
				background-position: -34px -2px;
			}
			.Two:hover{
				background: #fff;
				i{
				background-position: -34px -34px;
				}
			}
			.Three i{
				background-position: -66px -2px;
			}
			.Three:hover{
				background: #fff;
				i{
				background-position: -66px -34px;
				}
			}
			a:first-child{
				margin-left: 0px;
			}
		}
	}
}
.dengluye{
	width: 100%;
	height:900px;
	background:#ececed;
	position: fixed;
	top:0;
	left:0;
	display: none;
}