@import'reset';
.trigon{
	width:0;
	height:0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom:8px solid #fff;
}
.header{
	width: 100%;
	height: 640px;
	display: inline-block;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/content1_bg-7cb3991281eedd065030e80f7ffd4634.jpg);
	.header1{
		width: 1220px;
		height: 120px;
		margin:0 auto 0;
		padding:0 20px 0 20px;
		box-sizing:border-box;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		.a{
			float:left;
			width: 124px;
			height: 48px;
			margin-top: 36px;
			background: url(http://cfbassets.b0.upaiyun.com/assets/v2/logo-fa8e729626160b3f139584380142d0e0.png);
		}
		ul{
			float:left;
			li{
				font-size: 20px;
				color:#fff;
				display: inline-block;
				margin-left: 60px;
				cursor: pointer;
				line-height: 120px;
				position: relative;
				div{ 
					width: 120px;
    				height: 100px;
    				background: #fff;
    				color:#000;
    				text-align: center;
    				display: none;
    				position: absolute;
    				left:-175px;
    				top:95px;
					p{
					font-size: 14px;
					line-height: 50px;
					cursor: pointer;
					border-bottom: 1px solid #ccc;
						a{
							text-decoration: none;
							color:#000;
						}
					}
					.Self-helpcustom{
						border-bottom:none;
					}
					span{
						display: block;
						@extend.trigon;
						position: absolute;
						top:-8px;
						left:52.5px;
					}
				}

			}
		}
		div{
			float: left;
   			 margin-left: 130px;
   			 line-height: 120px;
   			 position: relative;
			input{
				width: 320px;
			    height: 60px;
			    border: none;
			    background-color: transparent;
			    color: white;
			    padding-left: 20px;
			    font: inherit;
			    border-radius: 4px;
			    line-height: 60px;
			    box-sizing: border-box;
			    background-color: rgba(255,255,255,0.1);
			}
			input::-webkit-input-placeholder{
			    color:#c5ccb9;
			}
			i{
				width: 30px;
				height: 30px;
				position: absolute;
			    right: 10px;
			    top: 44px;
				display: inline-block;
				cursor: pointer;
				background: url(http://cfbassets.b0.upaiyun.com/assets/v2/icon-3518a8793473b0760bf300374c9eb766.png);

			}
		}
		.enroll{
			float:right;
			ul{
				font-size: 20px;
				li{
				    float: left;
				    width: 40px;
				    margin-left: 0;
				    a{
				    	color:#fff;
				    	text-decoration: none;
				    }
				}
				span{
					float: left;
					color:#fff;
				}
			}
		}
	}
	.enjoyment{
		margin:180px auto 0;
		display: block;
		width: 382px;
		height: 168px;
		cursor: pointer;
	}
}
.clearFix::after{
	height:0;
	display: block;
	content:'';
	clear:both;
}
nav{
	div{
		float:left;
		width: 50%;
		height: 480px;
		box-sizing: border-box;
		img{
			display:block;
			margin:30px auto;
		}
		p{
			height: 21px;
			font-size: 16px;
   			color: #666;
   			text-align: center;
		}
		a{
			display: block;
			text-align: center;
			button{
			    background-color: #cdac65;
    			cursor: pointer;
			    width: 240px;
			    height: 80px;
			    line-height: 80px;
			    font-size: 28px;
			    color: #fff;
			    border: none;
			    border-radius: 4px;
			    margin-top: 30px;
			}
		}
	}
}
.purpose{
	width: 100%;
	h1{
	    font-size: 40px;
	    color: #2d3a40;
	    text-align: center;
	    height: 120px;
	    line-height: 120px;
	    font-weight: normal;
	}
	.carousel{
		width: 1180px;
		height: 575px;
		padding-left:20px;
		padding-right: 20px;
		margin:0 auto;
		.carousel1{
			width: 100%;
			height: 475px;
			border:1px solid #ddd;
			overflow: hidden;
			position: relative;
			.inner{
				width: 300%;
				position: absolute;
				a{
					li{
						height: 475px;
					    float: left;
					    width: 295px;
					    position: relative;
					    .detail{
					    	height: 160px;
						    position: absolute;
						    bottom: -60px;
						    left: 0;
						    color: white;
						    padding-left: 30px;
						    padding-top: 63px;
						    font-size: 20px;
						    font-weight: bold;
						    line-height: 1.8;
						    p{
						    	width: 260px;
					    	    overflow: hidden;
							    text-overflow: ellipsis;
							    white-space: nowrap;
						    }
					    }
					    .pop-mark{
					    	position: absolute;
						    left: 0;
						    top: 0;
						    z-index: 99;
						    background-color: rgba(0,0,0,0.6);
						    width: 100%;
						    height: 475px;
						    text-align: center;
						    display: none;					    	.mark{
					    	margin-top: 138px;
					    	}
					    	p{
					    		color: white;
 							   font-size: 20px;
					    		margin-top: 20px;
					    	}
					    	
					    }
					}
				}
			}
		}
		.page{
			width: 159px;
		    height: 4px;
		    margin: 0 auto;
		    margin-top: 40px;
		    overflow: hidden;
			li{
				float:left;
				width: 48px;
				height: 4px;
				margin-left: 5px;
				background: #ccc;
				cursor: pointer;
			}
			li:first-child{
				background: #000;
			}
		}
	}
}
.afflatus{
	width: 100%;
	height: 900px;
	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/bg2-e150cef21f7e2b00e465e630dbe7c138.jpg);
	.inspiration{
		width: 1220px;
		height: 120px;
		margin:0 auto;
		.rebatch{
			float:left;
			margin-left:20px;
			line-height: 120px;
			color:#fff;
			font-size: 20px;
			 i{
			width: 36px;
			height: 36px;
			display:inline-block;
			margin-right: 20px;
			vertical-align: middle;
			margin-top: -10px;
			background:url(http://cfbassets.b0.upaiyun.com/assets/v2/icon-3518a8793473b0760bf300374c9eb766.png);
			background-position: -30px 0px;	
			}
		}
		h2{
			float:left;
			font-size: 40px;
		    color: #fff;
		    height: 120px;
		    line-height: 120px;
		    font-weight: normal;
		    margin-left: 430px;
		}	
		p{
			float:right;
   			 line-height: 120px;
   			 a{
   			 	color: #fff;
   			 	font-size: 20px;
   			 	display: inline-block;
   			 	margin-left: 60px;
   			 	text-decoration:none;
   			 }
   			 a:last-child{
   			 	margin-right: 20px;
   			 }
		}
	}
	.route1{
		width: 1220px;
		height: 780px;
		margin:0 auto;
		.route{
			box-sizing: border-box;
		    border-radius: 4px;
		    height: 214px;
		    position: relative;
		    color: white;
		    width: 380px;
		    float: left;
		    margin-left: 20px;
		    margin-bottom: 20px;
		    cursor: pointer;
		    img{
		    	height: 100%;
			    width: 100%;
			    border-radius: 4px;
		    }
		    .wrap{
		    	width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 2;
			    border-radius: 4px;
			    background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
				display: table;
				.inner1{
					display: table-cell;
				    vertical-align: middle;
				    text-align: center;
				    color: white;
				    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
					.type{
						width: 48px;
					    height: 24px;
					    display: inline-block;
					    text-align: center;
					    line-height: 24px;
					    background-color: rgba(255,255,255,0.2);
					    color: white;
					    font-size: 12px;
					    border-radius: 12px;
					    margin-bottom: 5px;
					}    
				    h2{
				    	font-size:24px;
					    width: 340px;
					    height: 31px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    margin-left: 20px;
				    }
				    p{
			    	    font-size: 12px;
					    margin-top: 8px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    width: 340px;
					    margin-left: 20px;
				    }
					.avatar{
					    width: 32px;
					    height: 32px;
					    display: inline-block;
					    margin-top: 12px;
					    border-radius: 50%;
					    img{
				    	    border-radius: 50%;
						    width: 100%;
						    height: 100%;
						    box-sizing: border-box;
						    border: 2px solid rgba(255,255,255,0.1);
					    }
					}
				}
		    }
		}
	}
}
.impression{
    width: 100%;
    background-color: #f0f3f5;
    padding-bottom: 50px;
    .impress{
    	width: 1220px;
    	height: 100px;
    	margin:0 auto;
    	text-align: center;
	    font-size: 40px;
	    color: #2d3a40;
	    line-height: 120px;
    }
    .Pinterest{
    	width: 1220px;
    	margin:0 auto;
    	.yinxiang{
    		display: block;
		    margin-top: 20px;
		    margin-left: 20px;
		    padding: 4px;
		    background-color: white;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-transition: all 0.3s ease-in;
		    transition: all 0.3s ease-in;
		    text-decoration: none;
    		.img-cnt{
	    		width: 100%;
	    		img{
	    			display: block;
				    width: 100%;
				    height: 100%;
	    		}
	    		p{
	    			position: relative;
				    z-index: 4;
				    width: 270px;
				    padding: 3px 14px 3px 0;
				    margin-top: -24px;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    font-size: 12px;
				    text-align: right;
				    text-indent: 10px;
				    color: white;
				    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
	    		}
	    	}
	    	.txt-cnt{
	    		position: relative;
			    padding: 16px;
			    background-color: white;
			    padding-bottom: 0;
			    .txt{
			    	font-size: 14px;
				    color: #333;
				    word-break: break-all;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    display: -webkit-box;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
			    }
	    	}
	    	.note-bottom{
	    		color: #ccc;
			    font-size: 14px;
			    padding-left: 16px;
			    padding-right: 16px;
			    height: 48px;
			    line-height: 48px;
			    .fl{
			    	float: left;
				    width: 50%;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				    i{
				    	background: url(http://cfbassets.b0.upaiyun.com/assets/journals/icon_journal@2x-774d0501e4fb2a0af4ac5945729f11cd.png) no-repeat center;
					    width: 20px;
					    height: 24px;
					    background-position: -192px 0;
					    display: inline-block;
					    vertical-align: middle;
				        transform: scale(0.7);
				    }
			    }
			    .fr{
			    	float: right;
				    width: 50%;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				    text-align: right;
			    }
	    	}
    	}
    	
    }
}
#masonry{
	ul{
		float:left;
		width: 24.57%;
		li{
			width: 100%;
		}
	}
}
#masonry::after{
	content: '';
	display: block;
	clear:both;
}
.loadMoreNote{
    text-align: center;
    font-size: 16px;
    color: #8fa9b2;
    margin-top: 40px;
    text-decoration: underline;
    cursor: pointer;
}
























.footer{
    width: 1583px;
    height: 240px;
    background-color: #2d3a40;
    .content{
    	width: 1220px;
	    height: 240px;
	    margin: 0 auto;
	    .pc .left{
			height: 240px;
		    margin-left: 20px;
		    padding-top: 40px;
		    width: 660px;
		    position: relative;
		    float: left;
		    box-sizing: border-box;
		    .logo{
	    	    width: 124px;
			    height: 48px;
			    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/logo-fa8e729626160b3f139584380142d0e0.png);
		    }
		    .ques{
		    	margin-top: 30px;
		    	li{
	    		    float: left;
				    font-size: 16px;
				    color: #8fa9b2;
		    	}
		    }
		    .icp-pc{
		    	font-size: 12px;
			    color: #8fa9b2;
			    width: 100%;
			    display: block;
			    float: left;
			    margin-top: 10px;
		    }
		    .kefu{
		    	width: 236px;
			    height: 30px;
			    background: url(http://cfbassets.b0.upaiyun.com/assets/v2/kefu-cb3e9b2c88de6ce762f57e2120ab87d1.png);
			    position: absolute;
			    right: 0;
			    top: 110px;
		    }
	    }
	    .right{
	    	float: left;
	    	li{
	    		float: left;
			    margin-left: 40px;
			    margin-top: 40px;
			    .mark2{
			    	width: 140px;
			    	height: 140px;
			    	display: block;
			    	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/mark2-5536a807d46eaf88af89bff8502a6706.png);
			    }
			    .mark1{
			    	width: 140px;
			    	height: 140px;
			    	display: block;
			    	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/mark1-3487be04af0e64c69af34830a6f3a9e8.png);
			    }
			    .mark3{
			    	width: 140px;
			    	height: 140px;
			    	display: block;
			    	background: url(http://cfbassets.b0.upaiyun.com/assets/v2/mark3-0af143498f69f750f66ece64eea094c6.png);
			    }
			    p{
		    	    text-align: center;
				    font-size: 16px;
				    color: #5c6c73;
				    margin-top: 10px;
			    }
	    	}
	    }
    }
}
.denglu{
	width: 560px;
	height: 489px;
	padding:0 20px;
	background: rgba(51,204,153,0.9);
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -280px;
	margin-top: -244.5px;
	z-index: 999;
	.zhanghu{
		width: 560px;
		height: 489px;
		h1{
			width: 560px;
			height: 64px;
			line-height: 64px;
			font-size: 24px;
			font-weight: normal;
			color:#fff;
			text-align: center;
			margin-bottom: 20px;
			border-bottom:1px solid rgba(255,255,255,0.6);
			position: relative;
			i{
				width: 16px;
				height: 16px;
				cursor: pointer;
				background: url(http://cfbassets.b0.upaiyun.com/assets/common/icon_login-baa5f16b8c91d25c4635149ffade72aa.png);
				display: inline-block;
				background-position: -2px -64px;
				position: absolute;
				top:24px;
				left:0;
			}
			a{
				position: absolute;
			    top: 0;
			    right: 0;
			    font-size: 16px;
			    color: white;
			    cursor: pointer;
			    text-decoration: none;
			}
		}
		input{
			width: 245px;
		    padding: 15px 35px 15px 0;
		    color: white;
		    border: none;
		    background: none;
		    font-size: 16px;
		    display:block;
		    margin: 0 auto;
		    border-bottom:1px solid rgba(255,255,255,0.6);
		}
		input::-webkit-input-placeholder{
			color:#b3ebd8;
		}
		.jizhu{
			color:#b3ebd8;
			width: 280px;
			height: 60px;
			margin:10px auto 0;
			font-size: 12px;
			overflow: hidden;
			span{
				width: 57px;
				height: 16px;		
				overflow: hidden;		
				input{
					width: 16px;
					float:left;
					display: inline;
				}
			}
			a{
				float: right;
			}
			p{
				margin: 10px;
			    text-align: center;
			    color: red;
			    display: none;
			}
		}
		button{
			color:#3c9;
			display: block;
			width: 278px;
			height: 46px;
			cursor: pointer;
			border-radius: 4px;
			border:none;
			background: #fff;
			margin:0 auto 60px;
			font-size: 16px;
		}
		.mode::after{
			content: '';
			clear:both;
			display: block; 
		}
		.mode{
			.wire{
				width: 200px;
				height: 1px;
				float:left;
				background: #fff;
			}
			.wire:last-child{
				float:right;
			}
			.else{
				font-size: 16px;
				color:#fff;
				margin-left:230px;
				line-height: 1px;
			}
		}
		.qita{
			height: 110px;
			text-align: center;
			a{
				display: inline-block;
				width: 64px;
				height: 64px;
				margin-top: 35px;
				border-radius:50%;
				border:1px solid #fff;
				margin-left: 40px;
				i{
					width: 32px;
					height: 30px;
					display:block;
					margin:17px auto;
					background: url(http://cfbassets.b0.upaiyun.com/assets/common/icon_login-baa5f16b8c91d25c4635149ffade72aa.png);
				}
			}
			.One i{
				background-position: -2px -2px;
			}
			.One:hover{
				background: #fff;
				i{
				background-position: -2px -34px;
				}
			}
			.Two i{
				background-position: -34px -2px;
			}
			.Two:hover{
				background: #fff;
				i{
				background-position: -34px -34px;
				}
			}
			.Three i{
				background-position: -66px -2px;
			}
			.Three:hover{
				background: #fff;
				i{
				background-position: -66px -34px;
				}
			}
			a:first-child{
				margin-left: 0px;
			}
		}
	}
}
.dengluye{
	width: 100%;
	height:900px;
	background:#ececed;
	position: fixed;
	top:0;
	left:0;
	display: none;
}